body{
     font-family: 'Roboto Condensed', sans-serif;
}


.font-field {
    margin-bottom: 6px;
}

.box {
    margin-bottom: 15px;
    width: 30%;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding-left: 10px;
}

.btn {
    border-radius: 10px;
    width: 15%;
    height: 30px;
    border: 1px solid goldenrod;
    background-color: antiquewhite;
    color: brown;
}

input#likeness {
    width: 50px;
}
input#favColor {
    border: none;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    padding-left: 2px;
}